<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-"this is string"%>
    <%-name %>
    <%-work %>
      <!-- <h1> i am h1 from template engine</h1> -->
      <% skills.forEach((x)=>{%>
       <h1><%=x%></h1> 
        <%})%>
    <%-include('../demo.ejs')%>
</body>
</html>